* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
.content {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.header {
    background-color: #e6f0ff;
    height: 100vh;
    margin: auto;
}

.btn {
    height: 50px;
    background-color: #0f1b4c;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.action a {
    text-decoration: none;
    color: #0f1b4c;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Header-Navigation */
.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar .action {
    margin-left: auto;
}

.btn .btn-action {
    color: #fff;
}
