* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
.content {
    width: 1110px;
}

.header {
    background-color: #e6f0ff;
    height: 100vh;
    margin: auto;
}

.btn {
    height: 50px;
    background-color: #0f1b4c;
}
.btn a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    color: #4f5361;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
}

.navbar .nav-btn {
    margin-left: auto;
}
